<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="../vendors/bootstrap.min.css">
  <link rel="stylesheet" href="../vendors/angular-bootstrap-toggle.min.css">
  <link rel="stylesheet" href="../css/master.css">
  <script src="../vendors/sweetalert.min.js" charset="utf-8"></script>
  <title>Log In</title>
</head>
<body>
  <p class="loginText">Friends of Emily</p>
  <div class="container">
  <div class="centerEmily">
  </div>
  <a href= "/auth/google">
    <img class="centerCSS" src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" />
  </a>
</div>
</body>
</html>
