<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto"> -->
  <!-- <link rel="stylesheet" href="../vendors/bootstrap.min.css">
  <link rel="stylesheet" href="../vendors/angular-bootstrap-toggle.min.css"> -->
  <link rel="stylesheet" href="../css/master.css">
  <!-- <script src="../vendors/sweetalert.min.js" charset="utf-8"></script> -->
  <title>Emily Log In</title>
</head>
<body>
  <!-- <p class="loginText">Friends of Emily</p> -->

    <img id="loginLogo" src="../css/emilyProgramFoundationLogo.jpg" alt="Emily Program Foundation Logo">

    <a id="centerCSS" href= "/auth/google"> <img src="../css/btn_google_signin.png" /> </a>

</body>
</html>
