
/*GLOBAL*/
body {
  padding-top: 20px;
}
.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

/*GLOBAL*/

/*ADMIN VIEW*/
.admin-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.admin-subsection {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.admin-input {
  margin-left: 5%;
  margin-right: 15%;
}

.td-centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.h3-admin-invert {
  font-weight: bold;
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #dd561e;
}

.quick .toggle-group {
   transition: none;
   -webkit-transition: none;
}

.template-edit {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*ALL VOLUNTEERS*/

/*APPLICANTS*/
body>.person{
  width: auto;
}
.bucket{
  margin: 5px;
  height: 400px;
  outline: 2px solid #ccc;
  outline-offset: -1px;
}

.italic {
  font-style: italic;
}
.person {
  width: 100%;
}

/*EMAIL DRAFTS*/
.repeatBox {
  width: 400px;
  height: auto;
  margin: 20px;
  padding: 30px;
  text-align: center;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: 2px;
  display: inline-block;
}

table {
  border-collapse: collapse;

  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

thead {
  background-color: #dd561e;
  color: white;
}

tr, th {
  text-align: center;
  height: 2em;
}
td {
  /*not sure that this is the right approach */
  max-width: 6rem;
}

.allVolunteer_tableEntry_moreInfo td {
  padding: 15px 3px;
  background-color: #eee;
}

.table_entries {
  border-top: 2px solid #ddd;
}

.table_entries:hover{
  background-color: #ccc;
}

.allVolunteer_tableEntry_hide_extraInfo {
  display: none;
}

.allVolunteer_tableEntry_selected {
  background-color: #ddd;
}

loaders: [
  {test: /\.css$/, loader: 'style!css!postcss'}
]
