/*Small devices (tablets, 768px and up)*/
@media only screen and (max-width: 768px) {
  .waiver-container {
    display: none;
  }
  .waiver-container iframe{
    display: none;
  }
}
/*Medium devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
}
/*Large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {}
/*Xtra Large devices (Xlarge desktops, 1500px and up)*/
@media only screen and (min-width: 1500px) {}

body {
  font-family: sans-serif;
  background-image: url("FoundationCircles_Setof3.jpg");
  background-repeat: repeat;
  background-size: 25%;
  width: auto;
}

form input{
  border: none;
  border-bottom: solid 2px #c9c9c9;
}

h5{
  font-weight: bold;
}

.waiver-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;;
  height: 0;
  margin-bottom: 20px;
}

.waiver-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.waiver-container object{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrong{
  border-color: red;
}

/*.container{
    background-image: url("FoundationCircles_Setof3.jpg");
    background-repeat: repeat;
    background-size: 25%;
    width: auto;
}*/

.container {
  background-color: rgba(0, 0, 0, .2);
  width: 100%;
  /*height: 1250px;*/
}

.background{
  background-color: white;
  text-align: left;
  font-family: sans-serif;
  /*margin: 50px 150px 50px 150px;*/
  margin: 50px auto 50px auto;
  padding:30px;
  border-radius: 20px;
  border: 2px solid #999999;
}

.socialLinks{
  text-align: center;
  margin-top: 200px;
}

.prevButt {
  text-align: center;
  /*display: inline-block;*/
  background-color: #a8e5d9;
  border: none;
  cursor:pointer;
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  margin: 20px;
  width: 150px;
}

.skillItems{
  font-weight: normal;
}

.interestItems{
  font-weight: normal;
}

.nextButt {
  text-align: center;
  display: block;
  background-color: #dd561e;
  border: none;
  cursor:pointer;
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  margin: 20px auto 20px auto;
  width: 150px;
}

.submitButt{
  text-align: center;
  display: block;
  background-color: #dd561e;
  border: none;
  cursor:pointer;
  padding: 15px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin: 20px auto 20px auto;
}

.return{
  float:right;
  /*margin-left: 100px;*/
}

.prog {
  text-align: center;
}

.thanksText{
  text-align: center;
}

.submitButt:hover{
  background-color:  #a8e5d9;
  color: black;
}

.eOne{
  display: block;
}

.eOne textarea{
  width: 80%;
}

#essayQuest{
  margin-top: 30px;
}

#beginApp{
  text-align: center;
  display: block;
  background-color: #a8e5d9;
  border: none;
  cursor:pointer;
  padding: 20px 50px 20px 50px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  margin: 20px auto 20px auto;
}

#beginApp:hover{
  background-color:  #dd561e;
  color: white;
}

#opLinks{
  margin-bottom: 15px;
  text-align: center;
}

#infoContent {
  position: absolute;
  z-index: 99;
  background-color: white;
  box-shadow: 10px 10px 5px #8c8c8c;
  border-radius: 5px;
  border: 2px solid #999999;
  padding: 25px;
  top: 300px;
  left: 30%;
  right: 30%;
}

#exit{
  position: absolute;
  z-index: 100;
  background-color: white;
  color: #999999;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  margin: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  top: 300px;
  left: 30%;
  right: 30%;
}

#logo {
  width: 40%;
}

#yourInfo{
  text-align: center;
  margin-bottom: 30px;
}

#skillsHeader {
  text-align: center;
  margin-bottom: 30px;
}

#formID li {
  list-style: none;
  margin: 25px 25px 25px 25px;
  padding: 0px;
  display: inline-block;
}

#formID label {
  display: block;
}

#emerHeader{
  display:block;
  margin-top: 20px;
  margin-bottom:10px;
}

#refHeader{
  text-align: center;
  margin-bottom: 30px;
}

#supporting {
  display:block;
}

#essayHeader{
  text-align: center;
  /*margin-bottom: 50px;*/
}

/*#essayOne{
  display: block;
  margin-bottom: 5px;
}*/

#waiverHeader{
  text-align: center;
  margin-bottom: 30px;
}

#thanksHeader{
  margin-top: 50px;
  text-align: center;
}

#formRef {
  margin-top: 40px;
}
