<div class="container admin-section">
  <h3 class="h3-admin-invert">Administrator Tools</h3>
  <h4>Current Administrators:</h4>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Email address</th>
        <th>Name</th>
        <th class="td-centered">Remove this admin</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="admin in adminArray">
        <td style="vertical-align: middle;">{{admin.googleEmail}}</td>
        <td style="vertical-align: middle;"><span ng-show="admin.googleName">{{admin.googleName}}</span><span ng-hide="admin.googleName" class="italic">Not yet logged in.</span></td>
        <td class="td-centered"><button ng-click="removeAdmin($index)" type="button" class="btn btn-sm btn-danger" aria-label="Remove Admin">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button></td>
      </tr>
    </tbody>
  </table>
  <h4>Add a new administrator:</h4>
  <div class="input-group" style="margin-right: 20%;">
    <span class="input-group-addon">Email address:</span>
    <input type="text" class="form-control" ng-model="inputEmail">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" ng-click="addAdmin()">Add new admin</button>
    </span>
  </div>

  <h3 class="h3-admin-invert">Volunteer Application Settings</h3>
  <div class="container" style="width: 100%;">
    <div class="col-xs-6">
      <h4>Skills:</h4>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Skill name</th>
            <th class="td-centered">Shown in<br/>application?</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="skill in skillArray">
            <td style="vertical-align: middle;">{{skill.skill}}</td>
            <td class="td-centered">
              <toggle style="quick" type="checkbox" ng-model="skill.used" ng-change="switchSkill($index)" on="Yes" off="No" onstyle="btn-success" offstyle="btn-danger">
            </td>
          </tr>
        </tbody>
      </table>
      <h4>Add a new skill:</h4>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="inputSkill">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="addSkill()">Add new skill</button>
        </span>
      </div>
    </div>
    <div class="col-xs-6">
      <h4>Interests:</h4>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Interest name</th>
            <th class="td-centered">Shown in<br/>application?</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="interest in interestArray">
            <td style="vertical-align: middle;">{{interest.interest}}</td>
            <td class="td-centered">
              <toggle style="quick" type="checkbox" ng-model="interest.used" ng-change="switchInterest($index)" on="Yes" off="No" onstyle="btn-success" offstyle="btn-danger">
            </td>
          </tr>
        </tbody>
      </table>
      <h4>Add a new interest:</h4>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="inputInterest">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="addInterest()">Add new interest</button>
        </span>
      </div>
    </div>
  </div>
</div>
