


<br>
<br>
<button type="button" ng-click='email'>EMAIL SELECTED</button>
<button type="button" ng-click="activate">ACTIVATE SELECTED</button>
<div class=container-fluid>
  <div class='container-fluid'>
    <div class="row buckets">
      <div
      ng-repeat='hat in hatchery'
      class="col-sm-3 bucket"
      data-drop="true"
      ng-model='hat'
      jqyoui-droppable="{onDrop : incubator($index), multiple:true}">
      <button type="button" ng-click= "checkAll(hat)">CHECK ALL {{hatList[$index]}}</button>
      <div class="caption">
        <div
        class="btn btn-info btn-draggable person"
        ng-repeat="cat in hat"
        ng-model='hat'
        ng-click= 'setActive($parent.$index, $index)'
        data-drag="true"
        data-jqyoui-options="{revert: 'invalid'}"
        jqyoui-draggable="{index: {{$index}},animate:true}"
        >
        <input type="checkbox" ng-model="cat.checked">
        {{cat.name.last_name}}
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div ng-if="person.name.first_name !== undefined && person.edit !== true" ng-dblclick='edit()' class="container-fluid">
  <button ng-click="changeView('info')">Info</button>
  <button ng-click="changeView('essays')">Essays</button>
  <button ng-click="changeView('references')">References</button>

  <h3>{{person.name.first_name}} {{person.name.last_name}}</h3>

  <div ng-if="activeView === 'info'">
    <h4>Skills
      <div ng-repeat='skill in person.skills'>
        {{skill}}
      </div>
    </h4>
    <h4>Interests:
      <div ng-repeat='interest in person.interests'>
        {{interest}}
      </div>
    </h4>
    <p>
      Email: {{person.contactInfo.email}}
      <br>
      Phone: {{person.contactInfo.phoneNum}}
      <br>
      Address:
      <br>
      {{person.contactInfo.address.street}}
      <br>
      {{person.contactInfo.address.city}}, {{person.contactInfo.addess.state}} {{person.contactInfo.address.zip}}
    </p>
    <p>
      Employment: {{person.employment}}
    </p>
  </div>

  <div ng-if="activeView === 'essays'">
    <p>
      {{person.essayOne.response}}
      <br>
      {{person.esssayTwo.response}}
      <br>
      {{person.essayThree.response}}
    </p>
  </div>

  <div ng-if="activeView === 'references'">
    {{person.referenceOne.name}}
    <br>
    {{person.referenceOne.email}}
    <br>
    {{person.referenceOne.phone}}
    <br>
    <br>
    {{person.referenceTwo.name}}
    <br>
    {{person.referenceTwo.email}}
    <br>
    {{person.referenceTwo.phone}}

  </div>
</div>

<div ng-if="person.name.first_name !== undefined && person.edit === true" class="container-fluid">
  <button ng-click="changeView('info')">Info</button>
  <button ng-click="changeView('essays')">Essays</button>
  <button ng-click="changeView('references')">References</button>

  <h3>
    <input ng-model="person.name.first_name"/>
    <input ng-model="person.name.last_name"/>
  </h3>

  <div ng-if="activeView === 'info'">
    <h4>Skills:
      <div ng-repeat='skill in person.skills'>
        Remove
        <button class='btn-danger' type="button" ng-click="removeSkill($index)">{{skill}}</button>
      </div>
    </h4>
    <h4>Interests:
      <div ng-repeat='interest in person.interests'>
        Remove
        <button class='btn-danger' type="button" ng-click="removeInterest($index)">{{interest}}</button>
      </div>
    </h4>
    <p>
      Email: <input ng-model='person.contactInfo.email'/>
      <br>
      Phone: <input ng-model='person.contactInfo.phoneNum'/>
      <br>
      Address:
      <br>
      <input ng-model='person.contactInfo.address.street'/>
      <br>
      <input ng-model='person.contactInfo.address.city'/>,
      <input ng-model='person.contactInfo.addess.state'/>
      <input ng-model='person.contactInfo.address.zip'/>
    </p>
    <p>
      Employment: <input ng-model='person.employment'/>
    </p>
  </div>

  <div ng-if="activeView === 'essays'">
    <p>
      <input ng-model='person.essayOne.response'/>
      <br>
      <input ng-model='person.esssayTwo.response'/>
      <br>
      <input ng-model='person.essayThree.response'/>
    </p>
  </div>

  <div ng-if="activeView === 'references'">
    <input ng-model='person.referenceOne.name'/>
    <br>
    <input ng-model='person.referenceOne.email'/>
    <br>
    <input ng-model='person.referenceOne.phone'/>
    <br>
    <br>
    <input ng-model='person.referenceTwo.name'/>
    <br>
    <input ng-model='person.referenceTwo.email'/>
    <br>
    <input ng-model='person.referenceTwo.phone'/>

  </div>
  <button type="button" ng-click="cancelEdit()">Cancel</button>
  <button type="button" ng-click="editEnd()">Save</button>
</div>


</div>
</div>
