<div class="container admin-section">
  <h3 class="h3-admin-invert">Email Templates</h3>
  <div class="container admin-subsection">
    <h4>Currently available templates:</h4>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Template Name</th>
          <th class="td-centered">View/Edit</th>
          <th class="td-centered">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="template in emailTemplateArray">
          <td style="vertical-align: middle;">{{template.name}}</td>
          <td style="vertical-align: middle;" class="td-centered"><button ng-click="modifyTemplateButton(template._id)" type="button" class="btn btn-sm btn-success">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button></td>
          <td style="vertical-align: middle;" class="td-centered"><button ng-click="removeTemplateButton(template._id)" type="button" class="btn btn-sm btn-danger">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="createNewTemplateButton()">Create a new e-mail template</button>
    </div>
    <div class="input-group" ng-repeat="template in emailTemplateArray" ng-show="modifyTemplateID == template._id">
      <h4>Edit template:</h4>
      <h5>Name:</h5>{{template.name}}
      <h5>To:</h5>--Recipient List--
      <h5>From:</h5>Emily Program Foundation
      <h5>Subject:</h5>
      <input type="text" class="form-control" ng-model="template.subject">
      <text-angular ng-model="template.body"></text-angular>
      <button class="btn btn-success" type="button" ng-click="saveTemplate(template._id, template.subject, template.body)">Save this e-mail template</button>
      <button class="btn btn-danger" type="button" ng-click="cancelTemplate()">Cancel</button>
    </div>
    <div class="input-group" ng-show="newTemplateEntry">
      <h4>Create new template:</h4>
      <h5>Name:</h5>
      <input type="text" class="form-control" ng-model="newTemplateName">
      <h5>To:</h5>--Recipient List--
      <h5>From:</h5>Emily Program Foundation
      <h5>Subject:</h5>
      <input type="text" class="form-control" ng-model="newTemplateSubject">
      <text-angular ng-model="newTemplateBody"></text-angular>
      <button class="btn btn-success" type="button" ng-click="saveNewTemplate()">Save this e-mail template</button>
      <button class="btn btn-danger" type="button" ng-click="cancelNewTemplate()">Cancel</button>
    </div>
  </div>
</div>









<!-- Joey's code, to integrate

<h2>E-Mail Templates</h2>
<button type="button" name="button">Add New Template</button><br>
<h2>Email Template</h2>
<input type="text" name="name" placeholder="name"><br>
<input type="text" name="subjectLine" placeholder="subject line"><br>
<textarea rows="20" cols="75" name="body" placeholder="body"></textarea>

OR

<text-angular ng-model="htmlVariable"></text-angular>

-->
