<img id="logo" src="./style/TEPF-Logo-Transparent.png" alt="Emily Program logo">
<div class="container">
  <div class="background">
    <h1>Volunteer Application</h1>
    <form name="essays" id="essayQuest">
    <label ng-model="ff.allQuestions.1" for="essayOne">How did you hear about The Emily Program Foundation?</label>
      <textarea ng-class="{wrong: firstLook === false && essays.essayOne.$invalid}" name="essayOne" id="essayOne" ng-model="ff.essayOneResponse" cols="70" rows="7" required></textarea>
    <label for="essayTwo" ng-model="ff.allQuestions.2">Why are you interested in volunteering?</label>
      <textarea ng-class="{wrong: firstLook === false && essays.essayTwo.$invalid}" ng-model ="ff.essayTwoResponse" name="essayTwo" id="essayTwo" rows="7" cols="70" required></textarea>
    <label ng-model="ff.allQuestions.3" for="essayThree">What do you hope to get out of volunteering for The Emily Program Foundation?</label>
      <textarea ng-class="{wrong: firstLook === false && essays.essayThree.$invalid}" ng-model="ff.essayThreeResponse" id="essayThree" name="essayThree" rows="7" cols="70" required></textarea>
    <label ng-model="ff.allQuestions.4" for="essayFour">Describe any particular skills or experience you feel you'd bring
  to The Emily Program Foundation.</label>
      <textarea ng-class="{wrong: firstLook === false && essays.essayFour.$invalid}" ng-model="ff.essayFourResponse" name="essayFour" rows="7" cols="70" required></textarea>
      <button type="submit" class="nextButt"> Next ></button>
    </form>
        <br>
        </br>
      <button type="button" class="prevButt" ng-click="essayPrev()"> < Previous</button>

  </div>
</div>


<!--   -->

<!--type="submit"  -->
