<p>I have the following skills (check all that apply)</p>
<input type="checkbox">Project Management</input>
<input type="checkbox">Social Media Use</input>
<input type="checkbox">Language Skills</input>
<input type="checkbox">Lobbying</input>
<input type="checkbox">Artwork/Photography</input>
<input type="checkbox">Public Speaking</input>
<input type="checkbox">Crafts/Scrapbooking</input>
<input type="checkbox">Video Taping/Editing</input>
<input type="checkbox">Event Planning</input>
<input type="checkbox">Layout/Graphic Design</input>
<input type="checkbox">Writing</input>
<input type="checkbox">Marketing</input>
<br></br>
<p>The Emily Program Foundation depends on committed volunteers for our work. Please indicate which
opportunities you are able to commit to while volunteering with us.</p>
<input type="checkbox">Blog Writing (one submission per month minimum)</input><br>
<input type="checkbox">Special Events Only  (volunteering for at least one special event per year)</input><br>
<input type="checkbox">Advocacy Alerts and Lobby Day</input><br>
<input type="checkbox">I want to create my own fundraising event and will make my own hours.</input><br>
</br>

<button type="button" class="btn btn-success">Previous</button>
<button type="button" class="btn btn-success">Next</button>
