<h1>Volunteer Application</h1>
<label for="supporting">Supporting Material: Include links to any materials that might support your application.</label>
<textarea id="supporting" cols="70" rows="7"></textarea><br>
</br>
<label for="references">References (please include two references that are non-family members).</label>
<p>Reference #1</p>
<label for="refName">Name:</label>
<input type="text" id="refName" placeholder="Name">
<label for="refPhone">Phone Number:</label>
<input type="text" id="refPhone" placeholder="Phone Number">
<label for="refEmail">Email:</label>
<input type="text" id="refEmail" placeholder="Email">
<label for="refAddress">Street Address:</label>
<input type="text" id="refAddress"placeholder="Street Address">
<label for="refCity">City:</label>
<input type="text" id="refCity" placeholder="City">
<label for="refState">State:</label>
<select id="refState" name="state">
  <option value="AL">Alabama</option>
  <option value="AK">Alaska</option>
  <option value="AZ">Arizona</option>
  <option value="AR">Arkansas</option>
  <option value="CA">California</option>
  <option value="CO">Colorado</option>
  <option value="CT">Connecticut</option>
  <option value="DE">Delaware</option>
  <option value="DC">District of Columbia</option>
  <option value="FL">Florida</option>
  <option value="GA">Georgia</option>
  <option value="HI">Hawaii</option>
  <option value="ID">Idaho</option>
  <option value="IL">Illinois</option>
  <option value="IN">Indiana</option>
  <option value="IA">Iowa</option>
  <option value="KS">Kansas</option>
  <option value="KY">Kentucky</option>
  <option value="LA">Louisiana</option>
  <option value="ME">Maine</option>
  <option value="MD">Maryland</option>
  <option value="MA">Massachusetts</option>
  <option value="MI">Michigan</option>
  <option value="MN">Minnesota</option>
  <option value="MS">Mississippi</option>
  <option value="MO">Missouri</option>
  <option value="MT">Montana</option>
  <option value="NE">Nebraska</option>
  <option value="NV">Nevada</option>
  <option value="NH">New Hampshire</option>
  <option value="NJ">New Jersey</option>
  <option value="NM">New Mexico</option>
  <option value="NY">New York</option>
  <option value="NC">North Carolina</option>
  <option value="ND">North Dakota</option>
  <option value="OH">Ohio</option>
  <option value="OK">Oklahoma</option>
  <option value="OR">Oregon</option>
  <option value="PA">Pennsylvania</option>
  <option value="RI">Rhode Island</option>
  <option value="SC">South Carolina</option>
  <option value="SD">South Dakota</option>
  <option value="TN">Tennessee</option>
  <option value="TX">Texas</option>
  <option value="UT">Utah</option>
  <option value="VT">Vermont</option>
  <option value="VA">Virginia</option>
  <option value="WA">Washington</option>
  <option value="WV">West Virginia</option>
  <option value="WI">Wisconsin</option>
  <option value="WY">Wyoming</option>
</select>
<label for="refZip">Zip Code:</label>
<input type="number" id="refZip" placeholder="Zip Code"><br>
</br>
<p>Reference #2</p>
<label for="refName2">Name:</label>
<input type="text" id="refName2" placeholder="Name">
<label for="refPhone2">Phone Number:</label>
<input type="text" id="refPhone2" placeholder="Phone Number">
<label for="refEmail2">Email:</label>
<input type="text" id="refEmail2" placeholder="Email">
<label for="refAddress2">Street Address:</label>
<input type="text" id="refAddress2" placeholder="Street Address">
<label for="refCity2">City:</label>
<input type="text" id="refCity2" placeholder="City">
<label for="refState2">State:</label>
<select id="refState2" name="state">
  <option value="AL">Alabama</option>
  <option value="AK">Alaska</option>
  <option value="AZ">Arizona</option>
  <option value="AR">Arkansas</option>
  <option value="CA">California</option>
  <option value="CO">Colorado</option>
  <option value="CT">Connecticut</option>
  <option value="DE">Delaware</option>
  <option value="DC">District of Columbia</option>
  <option value="FL">Florida</option>
  <option value="GA">Georgia</option>
  <option value="HI">Hawaii</option>
  <option value="ID">Idaho</option>
  <option value="IL">Illinois</option>
  <option value="IN">Indiana</option>
  <option value="IA">Iowa</option>
  <option value="KS">Kansas</option>
  <option value="KY">Kentucky</option>
  <option value="LA">Louisiana</option>
  <option value="ME">Maine</option>
  <option value="MD">Maryland</option>
  <option value="MA">Massachusetts</option>
  <option value="MI">Michigan</option>
  <option value="MN">Minnesota</option>
  <option value="MS">Mississippi</option>
  <option value="MO">Missouri</option>
  <option value="MT">Montana</option>
  <option value="NE">Nebraska</option>
  <option value="NV">Nevada</option>
  <option value="NH">New Hampshire</option>
  <option value="NJ">New Jersey</option>
  <option value="NM">New Mexico</option>
  <option value="NY">New York</option>
  <option value="NC">North Carolina</option>
  <option value="ND">North Dakota</option>
  <option value="OH">Ohio</option>
  <option value="OK">Oklahoma</option>
  <option value="OR">Oregon</option>
  <option value="PA">Pennsylvania</option>
  <option value="RI">Rhode Island</option>
  <option value="SC">South Carolina</option>
  <option value="SD">South Dakota</option>
  <option value="TN">Tennessee</option>
  <option value="TX">Texas</option>
  <option value="UT">Utah</option>
  <option value="VT">Vermont</option>
  <option value="VA">Virginia</option>
  <option value="WA">Washington</option>
  <option value="WV">West Virginia</option>
  <option value="WI">Wisconsin</option>
  <option value="WY">Wyoming</option>
</select>
<label for="refZip2">Zip Code:</label>
<input type="number" id="refZip2" placeholder="Zip Code"><br>
</br>
<p><strong>Emergency Contact (person to notify in case of an emergency)</strong></p>
<label for="emerName">Name:</label>
<input type="text" id="emerName" placeholder="Name">
<label for="emerPhone">Phone Number:</label>
<input type="text" id="emerPhone" placeholder="Phone Number"><br>
</br>
<button type="button" class="btn btn-success" ng-click="refPrev()">Previous</button>
<button type="button" class="btn btn-success" ng-click="refNext()">Next</button>
