<h1>Volunteer Application</h1>
<label for="supporting">Supporting Material: Include links to any materials that might support your application.</label>
<textarea ng-model="ff.additionalInfo" id="supporting" cols="70" rows="7"></textarea><br>
</br>
<label for="references">References (please include two references that are non-family members).</label>
<p>Reference #1</p>
<label for="refName">Name:</label>
<input ng-model="ff.refOneName" type="text" id="refName" placeholder="Name">
<label for="refPhone">Phone Number:</label>
<input ng-model="ff.refOnePhone" type="text" id="refPhone" placeholder="Phone Number">
<label for="refEmail">Email:</label>
<input ng-model="ff.refOneEmail" type="text" id="refEmail" placeholder="Email">
<br>
</br>
<p>Reference #2</p>
<label for="refName2">Name:</label>
<input ng-model="ff.refTwoName" type="text" id="refName2" placeholder="Name">
<label for="refPhone2">Phone Number:</label>
<input ng-model="ff.refTwoPhone" type="text" id="refPhone2" placeholder="Phone Number">
<label for="refEmail2">Email:</label>
<input ng-model = "ff.refTwoEmail" type="text" id="refEmail2" placeholder="Email">
<br>
</br>
<p><strong>Emergency Contact (person to notify in case of an emergency)</strong></p>
<label for="emerName">Name:</label>
<input ng-model="ff.emergencyName" type="text" id="emerName" placeholder="Name">
<label for="emerPhone">Phone Number:</label>
<input ng-model="ff.emergencyPhone" type="text" id="emerPhone" placeholder="Phone Number"><br>
</br>
<button type="button" class="btn btn-success" ng-click="refPrev()">Previous</button>
<button type="button" class="btn btn-success" ng-click="refNext()">Next</button>
