<!-- <img id="logo" src="./style/TEPF-Logo-Transparent.png" alt="Emily Program logo"> -->
<div class="container">
  <div class="background">
    <button type="button" class="prevButt" ng-click="refPrev()"> < Previous</button>
    <h1 id="refHeader">References</h1>
    <div class="eOne">
      <h5 id="supporting" for="supporting">Supporting Material: Include links to any materials that might support your application.</h5>
        <textarea ng-model="ff.additionalInfo" id="supporting" cols="70" rows="7"></textarea>
    </div>
    <form name="refForm" id="formRef">
      <label for="references">References (please include two references that are non-family members).</label>
        <p>Reference #1</p>
          <div class="row">
            <div class="col-sm-12">
          <label for="refName">Name:</label>
            <input ng-class="{wrong: firstLook === false && refForm.refNameOne.$invalid}" name="refNameOne" ng-model="ff.refOneName" type="text" id="refName" required>
          <label for="refPhone">Phone Number:</label>
            <input ng-class="{wrong: firstLook === false && refForm.refPhoneOne.$invalid}" name="refPhoneOne" ng-model="ff.refOnePhone" type="text" id="refPhone" required>
          <label for="refEmail">Email:</label>
            <input ng-class="{wrong: firstLook === false && refForm.refEmailOne.$invalid}" name="refEmailOne" ng-model="ff.refOneEmail" type="text" id="refEmail" required>
          </div>
        </div>
              <br>
            </br>
        <p>Reference #2</p>
          <label for="refName2">Name:</label>
            <input ng-class="{wrong: firstLook === false && refForm.refNameTwo.$invalid}" name="refNameTwo" ng-model="ff.refTwoName" type="text" id="refName2" required>
          <label for="refPhone2">Phone Number:</label>
            <input ng-class="{wrong: firstLook === false && refForm.refPhoneTwo.$invalid}" name="refPhoneTwo" ng-model="ff.refTwoPhone" type="text" id="refPhone2" required>
          <label for="refEmail2">Email:</label>
            <input ng-class="{wrong: firstLook === false && refForm.refEmailTwo.$invalid}" name="refEmailTwo" ng-model = "ff.refTwoEmail" type="text" id="refEmail2" required>
              <br>
            </br>
        <label id="emerHeader">Emergency Contact (person to notify in case of an emergency):</label>
          <label for="emerName">Name:</label>
            <input ng-class="{wrong: firstLook === false && refForm.emerName.$invalid}" name="emerName" ng-model="ff.emergencyName" type="text" id="emerName" required>
          <label for="emerPhone">Phone Number:</label>
            <input ng-class="{wrong: firstLook === false && refForm.emerPhone.$invalid}" name="emerPhone" ng-model="ff.emergencyPhone" type="text" id="emerPhone" required>
            <button type="submit" class="nextButt">Next ></button>
          </form>
          <p class="prog">Page 3 of 5</p>
    </div>
</div>
