<div class="container">
  <div class="background">
    <!-- <img id="logo" src="./style/TEPF-Logo-Transparent.png" alt="Emily Program logo"> -->
      <button type="button" class="prevButt"   ng-click="infoPrev()"> < Previous</button>
      <h1 id="yourInfo">Your Information</h1>
      <form name="vInfo" id="formID">
        <ul>
          <li>
            <label for="firstName">Full Name</label>
              <input ng-class="{wrong: firstLook === false && vInfo.fname.$invalid}" type="text" ng-model="ff.firstName" id= "firstName" name="fname" placeholder="First Name" required>
        <!--<label for="lastName">Last Name:</label> -->
              <input ng-class="{wrong: firstLook === false && vInfo.lastName.$invalid}" type="text" ng-model="ff.lastName" name="lastName" id="lastName" placeholder="Last Name" required>
          </li>
          <li>
            <label for="dob">Date of Birth</label>
              <input type="number" ng-minlength="8" ng-maxlength="8" ng-class="{wrong: firstLook === false && vInfo.dob.$invalid}" ng-model="ff.dateOfBirth" id= "dob" placeholder="ex. mmddyyyy" name="dob" required>
          </li>
          <li>
            <label for="address">Address</label>
              <input type="text" ng-class="{wrong: firstLook === false && vInfo.address.$invalid}" ng-model="ff.street" id= "address" placeholder ="Street Address" name="address" required>
        <!--<label for="city">City:</label> -->
              <input type="text" ng-class="{wrong: firstLook === false && vInfo.city.$invalid}" ng-model="ff.city" id="city" name="city" placeholder ="City" required>
        <!--<label for="state">State:</label> -->
            <select id ="state" ng-class="{wrong: firstLook === false && vInfo.state.$invalid}" ng-model="ff.state" name="state" required>
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AZ">AZ</option>
              <option value="AR">AR</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DE">DE</option>
              <option value="DC">DC</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="IA">IA</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="ME">ME</option>
              <option value="MD">MD</option>
              <option value="MA">MA</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MS">MS</option>
              <option value="MO">MO</option>
              <option value="MT">MT</option>
              <option value="NE">NE</option>
              <option value="NV">NV</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NY">NY</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WV">WV</option>
              <option value="WI">WI</option>
              <option value="WY">WY</option>
            </select>
        <!--<label for="zip">Zip Code:</label> -->
              <input type="number" ng-minlength="5" ng-maxlength="5" ng-class="{wrong: firstLook === false && vInfo.zip.$invalid}" ng-model="ff.zip" id="zip" placeholder="Zip Code" name="zip" required>
          </li>
          <li>
            <label for="email">Email</label>
              <input type="email" ng-class="{wrong: firstLook === false && vInfo.email.$invalid}" ng-model="ff.email" id="email" name="email" required>
          </li>
          <li>
            <label for="phone">Phone Number</label>
              <input type="number" ng-minlength="10" ng-maxlength="13" ng-class="{wrong: firstLook === false && vInfo.phone.$invalid}" ng-model="ff.phoneNum" name="phone" placeholder="ex. 6125551234" required>
          </li>
          <li>
            <label for="employment">Place of Employment</label>
              <input type="text" ng-class="{wrong: firstLook === false && vInfo.employment.$invalid}" ng-model="ff.employment" id="employment" name="employment" required>
          </li>
        </ul>
        <button class="nextButt" type="submit" >Next ></button>
      </form>
      <p class="prog">Page 1 of 5</p>
    </div>
  </div>
