<!-- <img id="logo" src="./style/TEPF-Logo-Transparent.png" alt="Emily Program logo"> -->
  <div class="container">
    <div class="background">
      <button type="button" class="prevButt" ng-click="wavPrev()"> < Previous</button>
      <h1 id="waiverHeader">Consent & Liability Waiver</h1>
        <div class="waiver-container">
          <object data="resources/Volunteer_Consent_and_Liability_Waiver_2017.pdf" type="application/pdf" width="100%" height="100%">
          <iframe src="resources/Volunteer_Consent_and_Liability_Waiver_2017.pdf" style="border: none;"></iframe><br></br>
        </object>
        </div>
        <div class="pdfLink">
          <a href="resources/Volunteer_Consent_and_Liability_Waiver_2017.pdf" target="_blank">Read these terms and conditions.</a>
        </div>
        <input type="checkbox" id="signed" required> <i>My checking the box indicates I have read this entire document, understand it completely, acknowledge that it cannot be modified or changed in any way by oral representations, and agree to be bound by its terms.</i></input>
      <button type="submit" class="submitButt" ng-click="validateCheck();">Submit Application</button>
      <p class="prog">Page 5 of 5</p>
    </div>
</div>

<!-- width="500px" height="500px" -->
