<img id="logo" src="./style/TEPF-Logo-Transparent.png" alt="Emily Program logo">
  <div class="container">
    <div class="background">
      <h1>Volunteer Application</h1>
        <button type="button" class="prevButt" ng-click="wavPrev()"> < Previous</button><br>
          </br>
        <iframe src="resources/Volunteer_Consent_and_Liability_Waiver_2017.pdf" width="500px" height="500px" style="border: none;"></iframe><br></br>
        <input type="checkbox"> <i>My checking the box indicates I have read this entire document, understand it completely, acknowledge that it cannot be modified or changed in any way by oral representations, and agree to be bound by its terms.</i></input>

      <button type="button" class="submitButt" ng-click="submitApp()">Submit Application</button>
      <p class="prog">Page 5 of 5</p>
    </div>
</div>
